<div 
  class="relative z-50 lg:hidden" 
  aria-labelledby="slide-over-title" 
  role="dialog" 
  aria-modal="true"
  [class.pointer-events-none]="!state.isMobileFilterOpen()"
>
  <div 
    class="fixed inset-0 bg-gray-500 bg-opacity-75 opacity-0 transition-opacity duration-300 ease-in-out backdrop-blur-sm" 
    [class.opacity-0]="!state.isMobileFilterOpen()"
    [class.opacity-100]="state.isMobileFilterOpen()"
    (click)="state.closeMobileFilters()"
  ></div>

  <div class="fixed inset-0 overflow-hidden pointer-events-none">
    <div class="absolute inset-0 overflow-hidden">
      <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
        <div 
          class="pointer-events-auto w-screen max-w-md transform translate-x-full transition duration-300 ease-in-out"
          [class.translate-x-full]="!state.isMobileFilterOpen()"
          [class.translate-x-0]="state.isMobileFilterOpen()"
        >
          <div class="flex h-full flex-col overflow-y-scroll bg-white dark:bg-gray-900 shadow-xl">
            <div class="flex items-center justify-between px-4 py-6 sm:px-6 border-b border-gray-200 dark:border-gray-700">
              <h2 class="text-lg font-medium text-gray-900 dark:text-gray-100" id="slide-over-title">Filters</h2>
              <button 
                type="button" 
                class="relative rounded-md text-gray-400 hover:text-gray-500 focus:outline-none"
                (click)="state.closeMobileFilters()"
              >
                <span class="sr-only">Close panel</span>
                <lucide-icon name="x" size="24"></lucide-icon>
              </button>
            </div>
            <div class="relative mt-6 flex-1 px-4 sm:px-6 space-y-6 pb-6">
               <app-products-filters />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
