<div class="hidden md:flex items-center gap-6">
  <a
    routerLink="/"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    class="text-gray-600 hover:text-[#029fae]"
    >Home</a
  >
  <a
    routerLink="/product"
    routerLinkActive="active-link"
    class="text-gray-600 hover:text-[#029fae]"
    >Product</a
  >
  <a
    routerLink="/about"
    routerLinkActive="active-link"
    class="text-gray-600 hover:text-[#029fae]"
    >About</a
  >
  <a
    routerLink="/contact"
    routerLinkActive="active-link"
    class="text-gray-600 hover:text-[#029fae]"
    >Contact</a
  >
</div>
