<div
  class="hidden md:flex items-center gap-6 bg-white dark:bg-gray-900 px-4 py-2 rounded-lg"
>
  <a
    routerLink="/"
    routerLinkActive="text-[#029fae]"
    [routerLinkActiveOptions]="{ exact: true }"
    class="text-gray-700 dark:text-gray-200 hover:text-[#029fae]"
  >
    Home
  </a>

  <a
    routerLink="/product"
    routerLinkActive="text-[#029fae]"
    class="text-gray-700 dark:text-gray-200 hover:text-[#029fae]"
  >
    Product
  </a>

  <a
    routerLink="/about"
    routerLinkActive="text-[#029fae]"
    class="text-gray-700 dark:text-gray-200 hover:text-[#029fae]"
  >
    About
  </a>

  <a
    routerLink="/contact"
    routerLinkActive="text-[#029fae]"
    class="text-gray-700 dark:text-gray-200 hover:text-[#029fae]"
  >
    Contact
  </a>
</div>
