<section class="w-full dark:bg-gray-900 bg-white">
  <h2
    class="flex items-center justify-center text-2xl md:text-3xl font-bold 
          text-gray-900 dark:text-gray-100
          bg-white dark:bg-gray-900 px-6 rounded-2xl"
  >
    <span class="whitespace-nowrap">
      Our <span class="text-[#029fae]">Categories</span>
    </span>
  </h2>

  <swiper-container
    slides-per-view="1"
    loop="true"
    autoplay='{"delay":10000,"disableOnInteraction":false}'
    pagination="true"
    navigation="true"
    class="w-full dark:bg-gray-900"
  >
    @for (cat of categoriesBrands(); track cat.categories.id) {
    <swiper-slide class="bg-white dark:bg-gray-900">
      <app-category-card [cat]="cat" />
    </swiper-slide>
    }
  </swiper-container>
</section>
