<section class="w-full dark:bg-gray-900 bg-white">
    <h2
    class="flex items-center justify-center text-2xl md:text-3xl font-bold 
          text-gray-900 dark:text-gray-100 mb-6 gap-3
          bg-white dark:bg-gray-900 px-6 rounded-2xl"
  >
    <span class="whitespace-nowrap">
      Our <span class="text-[#029fae]">Featured Products</span>
    </span>
  </h2>
  <swiper-container
    slides-per-view="2"
    space-between="24"
    loop="true"
    autoplay-delay="8000"
    autoplay-disable-on-interaction="false"
    navigation="true"
    pagination="true"
    breakpoints='{
    "640": { "slidesPerView": 2 },
    "768": { "slidesPerView": 3 },
    "1024": { "slidesPerView": 4 },
    "1280": { "slidesPerView": 5 },
    "1536": { "slidesPerView": 6 }
  }'
    class="w-full dark:bg-gray-900 bg-white"
  >
    @for (product of featuredProducts(); track product.id) {
    <swiper-slide>
      <app-product-card [product]="product" />
    </swiper-slide>
    }
  </swiper-container>
</section>
