.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e5e7eb; /* gray-200 */
  border-radius: 20px;
}

:host-context(.dark) .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #374151; /* gray-700 */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #d1d5db; /* gray-300 */
}

:host-context(.dark) .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #4b5563; /* gray-600 */
}
