<nav
  class="w-full bg-white border-b border-gray-200 dark:border-gray-700 shadow-sm px-4 dark:bg-gray-900"
>
  <div class="mx-auto w-full flex items-center justify-between h-[80px] px-4 sm:px-6 lg:px-8">
    <div class="flex items-center gap-6">
      <app-navbar-logo />
      <app-navbar-location />
    </div>
    <div class="flex items-center gap-6">
      <app-navbar-links />
      <app-navbar-actions />
      <button
        class="md:hidden text-gray-600 dark:text-gray-300 hover:text-[#029fae]"
        (click)="toggleMobileMenu()"
      >
        <lucide-icon name="menu" size="24"></lucide-icon>
      </button>
    </div>
  </div>
</nav>
<app-mobile-menu [menuState]="isMobileMenuOpen()" (closeMenu)="isMobileMenuOpen.set(false)" />
