<div
  class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8
         bg-gray-50 dark:bg-gray-900 transition-colors duration-300"
>
  <div class="sm:mx-auto sm:w-full sm:max-w-sm text-center">
    <div
      class="flex justify-center items-center gap-2
             text-2xl font-semibold text-gray-900 dark:text-white"
    >
      <lucide-icon name="CheckCircle" class="text-green-500" [size]="48"></lucide-icon>
    </div>
    <h2 class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900 dark:text-white">
      Password Reset Successful
    </h2>
    <p class="mt-2 text-center text-sm text-gray-600 dark:text-gray-400">
      Your password has been changed successfully.
    </p>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <div
      class="bg-white dark:bg-gray-800 rounded-xl
             shadow-lg ring-1 ring-gray-200 dark:ring-gray-700
             px-6 py-8"
    >
      <div class="flex flex-col gap-4">
        @if (callback()) {
          <button
            (click)="goToLogin()"
            class="flex w-full justify-center items-center gap-2
            rounded-md bg-white border border-[#029fae]
            px-3 py-2 text-sm font-semibold text-[#029fae]
            shadow-sm hover:bg-gray-50
            transition-all cursor-pointer"
          >
            Continue on this website
          </button>
          
          <button
            (click)="continueCallback()"
            class="flex w-full justify-center items-center gap-2
                   rounded-md bg-[#029fae]
                   px-3 py-2 text-sm font-semibold text-white
                   shadow-md hover:shadow-lg
                   hover:bg-[#028b99]
                   transition-all cursor-pointer"
          >
            Continue to the original website
          </button>
        } @else {
          <button
            (click)="goToLogin()"
            class="flex w-full justify-center items-center gap-2
                   rounded-md bg-[#029fae]
                   px-3 py-2 text-sm font-semibold text-white
                   shadow-md hover:shadow-lg
                   hover:bg-[#028b99]
                   transition-all cursor-pointer"
          >
            Go to login
          </button>
        }
      </div>
    </div>
  </div>
</div>
