/* You can add global styles to this file, and also import other style files */

@use "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.input {
  @apply block w-full rounded-md bg-white dark:bg-gray-900
         px-3 py-2 text-gray-900 dark:text-white
         ring-1 ring-inset ring-gray-300 dark:ring-gray-700
         placeholder:text-gray-400 dark:placeholder:text-gray-500
         focus:ring-2 focus:ring-[#029fae] sm:text-sm;
}

.error-text {
  @apply mt-1 text-sm text-red-600 dark:text-red-400;
}

@media (max-width: 768px) {
  swiper-container::part(button-next),
  swiper-container::part(button-prev) {
    display: none !important;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}
