<div class="dark:bg-gray-900 transition-colors">
  <a
    routerLink="/"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
    class="block text-gray-700 dark:text-gray-300 font-medium py-2 rounded hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-[#029fae] transition"
  >
    Home
  </a>

  <a
    routerLink="/product"
    routerLinkActive="active-link"
    class="block text-gray-700 dark:text-gray-300 font-medium py-2 rounded hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-[#029fae] transition"
  >
    Product
  </a>

  <a
    routerLink="/about"
    routerLinkActive="active-link"
    class="block text-gray-700 dark:text-gray-300 font-medium py-2 rounded hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-[#029fae] transition"
  >
    About
  </a>

  <a
    routerLink="/contact"
    routerLinkActive="active-link"
    class="block text-gray-700 dark:text-gray-300 font-medium py-2 rounded hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-[#029fae] transition"
  >
    Contact
  </a>
</div>
